		<script type="text/javascript">

			function domx(thelist)
			{
				  var idx = thelist.selectedIndex;
				  var value = thelist.options[idx].value;
				  window.location = "/?domain="+value+"&flag=1";
			}
		
			function language(thelist)
			{
				  var idx = thelist.selectedIndex;
				  var value = thelist.options[idx].value;

				  window.location = "/?domain={{domain.id}}&group="+value;
			}

		    function addComboItem()
		    {
			    	alert("add combo item");
		    }

		    function addDomain()
		    {
		    		window.location = "inputDomain";
		    }

		    function addGroup()
		    {
		    		window.location = "chooseLang?domain={{domain.id}}";
		    }
		    
		    function addText()
		    {
		    		window.location = "chooseLang?dest=addText";
		    }

		    function RemoveComboItem()
		    {
		    		alert("remove");
		    }
		    			
		    
		</script>
