
		
		<a href="options?domain={{domain.id}}">Options</a>

		<div class="container spacer" >

				<label>Domain :</label>
				<select class="combobox" onchange="domx(this)" style="width: 150px;" id="domx">
					{{#domains}}
						<option value="{{id}}" {{{selected}}}>{{name}}</option>
					{{/domains}}
				</select>
				<input type="button" value="+" onclick="addDomain();">
				<input type="button" value="-" onclick="removeDomain();">
				<input type="button" value="m" onclick="modifyDomain();">

				<div class="spacer" style="display:inline;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</div>			

				<label>Language :</label>
				<select class="combobox" onchange="language(this)" style="width: 150px;" id="grpx">
					{{#groups}}
						<option value="{{id}}" {{{selected}}}>{{userName}}</option>
					{{/groups}}
				</select>
				<input type="button" value="+" onclick="addGroup();" title="add language">
				<input type="button" value="-" onclick="removeGroup();">
				
				<div class="spacer" style="display:inline;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</div>

				<form action="/" method="get" style="display:inline;">
						<label>Search :</label>
						<input type="text" name="keyword" value="{{keyword}}"/>
						<input type="hidden" name="group" value="{{group.id}}"/>
						<button type="submit">search</button>
				</form>
				
				<div class="spacer" style="display:inline;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</div>					
				
				<a href="add?domain={{domain.id}}&group={{group.id}}&currentpage={{currentpage}}">Add Texts</a>

				<div class="spacer" style="display:inline;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</div>					
				
			
		</div>