<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title>Translation user interface</title>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-3.3.4.css">
		
	</head>
	
	<body>
	
			<div class="container spacer" style="display:inline;" ></div>
		
			<div class="container spacer" >
					<table>
							<tr>
									<td>
											options
									</td>
							</tr>
							<tr>
									<td colspan="2">
										&nbsp;
									</td>			
							</tr>	
							<tr>
									<td>
										<a href="/?domain={{domain.id}}"><button>cancel</button></a>									
									</td>
							</tr>
					</table>
			</div>

	</body>
</html>
			