<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		
		<meta http-equiv="Content-Type: text/html; charset=shift_jis">
		
		<title>Translation user interface</title>
		
<!-- 		<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7.min.css" />		 -->

		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-3.3.4.css">
	
	    <script src="bower_components/jquery/dist/jquery.js"></script>
	
	  	<script src="js/bootstrap-treeview.js"></script>
		
		{{>head/css}}
		
		{{>head/js}}
		
		{{>bootstrap/treeview}}
		
	</head>
	
	<body>

		<div class="container spacer" style="display:inline;" ></div>

		{{>body/combos}}

		{{>body/pageList}}

		{{>div/spacer-h}}
		
		{{>bootstrap/nav}}
			
	</body>
</html>