<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		
		<title>add</title>
		
				<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-3.3.4.css">
	
			    <script src="bower_components/jquery/dist/jquery.js"></script>
			
			  	<script src="js/bootstrap-treeview.js"></script>
		
				{{>head/css}}
		
	</head>
	
	<body>
	
			<div class="container spacer" style="display:inline;" ></div>
	
			<div class="container spacer" >

					<form action="/updateDomain" method="post" style="display:inline;">
									
							<label>modify domain :&nbsp;</label>
							<input name="newName" size="30" value="{{domain.name}}">
							<input type="hidden" name="domain" value="{{domain.id}}">
									
							<button type="submit">Save</button>
							
							<a href="#"><button>cancel</button></a>
							
					</form>
			</div>
	</body>
</html>		
						